@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(68, 63, 63);
    color: white;
}

.header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgb(54, 52, 52);
    position: fixed;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.nav {
    color: white;
    transition: color .5s ease-out;
}

.resume {
    color: rgb(14, 13, 13);
    font-size: 24px;
}

.nav:hover {
    color: black;
    cursor: pointer;
}
.links-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100vw;
    padding: 5px;
    margin-right: 3%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    gap: 100px;
}

.about {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
}

.proj {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.icons {
    height: 100px;
    width: auto;
}

.icons:hover {
    transform: scale(1.1);
    transition: transform .5s;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 20px;
}

.links {
    height: 50px;
    width: auto;
}

.links:hover {
    transform: scale(1.1);
    transition: transform .5s;
}

.project-img {
    border-radius: 15px;
    height: 200px;
    width: auto;
}

.project-title {
    font-size: 20px;
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    gap: 15px;
}

.form-fields {
    width: 50%;
    height: 30px;
    border-radius: 5px;
}

.message-field {
    height: 100px;
}

.form-btn {
    width: 50%;
}