
body {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh; 
    gap: 20px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
}